* {
  margin: 0;
  padding: 0;
  border: 0;
  background: black;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: hidden;
}

center {
  display: hidden;
}

canvas {
  aspect-ratio: 16/9;
  height: 100vh;
}

#load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}